In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('../data/Medicare_Provider_Utilization_and_Payment_Data__Physician_and_Other_Supplier_PUF_CY2017.csv')

/Users/nessartoul/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
list(df.columns)

['National Provider Identifier',
 'Last Name/Organization Name of the Provider',
 'First Name of the Provider',
 'Middle Initial of the Provider',
 'Credentials of the Provider',
 'Gender of the Provider',
 'Entity Type of the Provider',
 'Street Address 1 of the Provider',
 'Street Address 2 of the Provider',
 'City of the Provider',
 'Zip Code of the Provider',
 'State Code of the Provider',
 'Country Code of the Provider',
 'Provider Type',
 'Medicare Participation Indicator',
 'Place of Service',
 'HCPCS Code',
 'HCPCS Description',
 'HCPCS Drug Indicator',
 'Number of Services',
 'Number of Medicare Beneficiaries',
 'Number of Distinct Medicare Beneficiary/Per Day Services',
 'Average Medicare Allowed Amount',
 'Average Submitted Charge Amount',
 'Average Medicare Payment Amount',
 'Average Medicare Standardized Amount']

In [6]:
df = df.drop(columns = ['Middle Initial of the Provider','Street Address 1 of the Provider','Street Address 2 of the Provider','City of the Provider','Zip Code of the Provider', 'State Code of the Provider','Country Code of the Provider'], axis = 1)

In [7]:
list(df.columns)

['National Provider Identifier',
 'Last Name/Organization Name of the Provider',
 'First Name of the Provider',
 'Credentials of the Provider',
 'Gender of the Provider',
 'Entity Type of the Provider',
 'Provider Type',
 'Medicare Participation Indicator',
 'Place of Service',
 'HCPCS Code',
 'HCPCS Description',
 'HCPCS Drug Indicator',
 'Number of Services',
 'Number of Medicare Beneficiaries',
 'Number of Distinct Medicare Beneficiary/Per Day Services',
 'Average Medicare Allowed Amount',
 'Average Submitted Charge Amount',
 'Average Medicare Payment Amount',
 'Average Medicare Standardized Amount']

In [9]:
df.head(1)

,National Provider Identifier,Last Name/Organization Name of the Provider,First Name of the Provider,Credentials of the Provider,Gender of the Provider,Entity Type of the Provider,Provider Type,Medicare Participation Indicator,Place of Service,HCPCS Code,HCPCS Description,HCPCS Drug Indicator,Number of Services,Number of Medicare Beneficiaries,Number of Distinct Medicare Beneficiary/Per Day Services,Average Medicare Allowed Amount,Average Submitted Charge Amount,Average Medicare Payment Amount,Average Medicare Standardized Amount
0,1003000126,ENKESHAFI,ARDALAN,M.D.,M,I,Internal Medicine,Y,F,99217,Hospital observation care discharge,N,100.0,96,100,73.3988,325.78,56.8272,57.4924

In [17]:
# Checking to see the HCPCS Code Descriptions

In [12]:
df['HCPCS Description'].unique()

array(['Hospital observation care discharge',
       'Hospital observation care typically 30 minutes',
       'Hospital observation care typically 50 minutes', ...,
       'Incision of spine bone with removal of disc at upper spinal column',
       'Heat delivery to muscle at esophagus and/or stomach to treat gastric reflux using an endoscope',
       'Destruction of pudendal (external genital) nerve'], dtype=object)

In [18]:
# looking at unique HCPCS codes

In [35]:
    df['HCPCS Code'].nunique()

6048

In [36]:
df['HCPCS Code'].value_counts()

99213    457843
99214    428268
99204    179569
99203    178059
99232    175336
          ...
J9306         1
84228         1
49419         1
81519         1
25028         1
Name: HCPCS Code, Length: 6048, dtype: int64

In [37]:
## making a dataframe of HCPCS Codes and payment amounts

In [55]:
code_dollar = df.iloc[:,[5,6,3,4,8,9,-1,-2,-3,-4]]
list(code_dollar.columns)

['Entity Type of the Provider',
 'Provider Type',
 'Credentials of the Provider',
 'Gender of the Provider',
 'Place of Service',
 'HCPCS Code',
 'Average Medicare Standardized Amount',
 'Average Medicare Payment Amount',
 'Average Submitted Charge Amount',
 'Average Medicare Allowed Amount']

In [57]:
code_dollar['Place of Service'].unique()

array(['F', 'O'], dtype=object)

In [58]:
code_dollar['Place of Service'].value_counts()

O    6077711
F    3769732
Name: Place of Service, dtype: int64

In [73]:
#dropping office visits and double check

code_dollar = code_dollar[code_dollar['Place of Service'] != 'O']
code_dollar['Place of Service'].value_counts()

F    3769732
Name: Place of Service, dtype: int64