In [2]:
import pandas as pd
import pickle

In [3]:
%%time

df = pd.read_csv('../data/Medicare_Provider_Utilization_and_Payment_Data__Physician_and_Other_Supplier_PUF_CY2017.csv', dtype={'Zip Code of the Provider': object})

Wall time: 30.4 s

In [4]:
df.shape

(9847443, 26)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9847443 entries, 0 to 9847442
Data columns (total 26 columns):
 #   Column                                                    Dtype
---  ------                                                    -----
 0   National Provider Identifier                              int64
 1   Last Name/Organization Name of the Provider               object
 2   First Name of the Provider                                object
 3   Middle Initial of the Provider                            object
 4   Credentials of the Provider                               object
 5   Gender of the Provider                                    object
 6   Entity Type of the Provider                               object
 7   Street Address 1 of the Provider                          object
 8   Street Address 2 of the Provider                          object
 9   City of the Provider                                      object
 10  Zip Code of the Provider                                  object
 11  State Code of the Provider                                object
 12  Country Code of the Provider                              object
 13  Provider Type                                             object
 14  Medicare Participation Indicator                          object
 15  Place of Service                                          object
 16  HCPCS Code                                                object
 17  HCPCS Description                                         object
 18  HCPCS Drug Indicator                                      object
 19  Number of Services                                        float64
 20  Number of Medicare Beneficiaries                          int64
 21  Number of Distinct Medicare Beneficiary/Per Day Services  int64
 22  Average Medicare Allowed Amount                           float64
 23  Average Submitted Charge Amount                           float64
 24  Average Medicare Payment Amount                           float64
 25  Average Medicare Standardized Amount                      float64
dtypes: float64(5), int64(3), object(18)
memory usage: 1.9+ GB

In [6]:
df.head()

,National Provider Identifier,Last Name/Organization Name of the Provider,First Name of the Provider,Middle Initial of the Provider,Credentials of the Provider,Gender of the Provider,Entity Type of the Provider,Street Address 1 of the Provider,Street Address 2 of the Provider,City of the Provider,...,HCPCS Code,HCPCS Description,HCPCS Drug Indicator,Number of Services,Number of Medicare Beneficiaries,Number of Distinct Medicare Beneficiary/Per Day Services,Average Medicare Allowed Amount,Average Submitted Charge Amount,Average Medicare Payment Amount,Average Medicare Standardized Amount
0,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99217,Hospital observation care discharge,N,100.0,96,100,73.398800,325.780000,56.827200,57.492400
1,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99218,Hospital observation care typically 30 minutes,N,26.0,25,26,100.080000,449.000000,78.460000,79.306154
2,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99219,Hospital observation care typically 50 minutes,N,52.0,51,52,136.380000,614.000000,102.807692,103.895385
3,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99220,Hospital observation care typically 70 minutes...,N,59.0,59,59,190.363729,755.932203,141.293559,142.865763
4,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99221,"Initial hospital inpatient care, typically 30 ...",N,16.0,16,16,101.680000,462.812500,79.710000,80.750000

In [7]:
hcpcs_pay = df.drop(columns = ['Middle Initial of the Provider', 
                                                  'Gender of the Provider',
                                                  'Street Address 2 of the Provider'])

In [8]:
hcpcs_pay.columns

Index(['National Provider Identifier',
       'Last Name/Organization Name of the Provider',
       'First Name of the Provider', 'Credentials of the Provider',
       'Entity Type of the Provider', 'Street Address 1 of the Provider',
       'City of the Provider', 'Zip Code of the Provider',
       'State Code of the Provider', 'Country Code of the Provider',
       'Provider Type', 'Medicare Participation Indicator', 'Place of Service',
       'HCPCS Code', 'HCPCS Description', 'HCPCS Drug Indicator',
       'Number of Services', 'Number of Medicare Beneficiaries',
       'Number of Distinct Medicare Beneficiary/Per Day Services',
       'Average Medicare Allowed Amount', 'Average Submitted Charge Amount',
       'Average Medicare Payment Amount',
       'Average Medicare Standardized Amount'],
      dtype='object')

In [9]:
hcpcs_pay.shape

(9847443, 23)

In [11]:
hcpcs_pay.to_pickle("../data/hcpcs_pay.pkl")