In [1]:
import pandas as pd

In [2]:
data = [[1,2,3,4],['mon','tue','wed','thur']]

In [3]:
data

[[1, 2, 3, 4], ['mon', 'tue', 'wed', 'thur']]

In [9]:
df = pd.DataFrame(data,columns=['number','day'],axis=0)

TypeError: __init__() got an unexpected keyword argument 'axis'

In [7]:
df

   mon  tue  wed  thur
0    1    2    3     4
1  mon  tue  wed  thur

In [29]:
x = 1==2

In [30]:
x

False

In [31]:
~x

-1